body {
    margin: 0;
}

.bar {
    align-items: center;
}

.calc {
    color: #000;
    font-family: Roboto, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.calc__button {
    display: inline-block;
    margin-top: 20px;
    border-radius: 6px;
    background: #004C93;
    color: white;
    border: none;
    text-decoration: none;
    padding: 1rem 1.5rem;
}

.calc__button:hover {
    background-color: #40A3FF;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .burger__btn {
        display: none;
    }
}

@media (max-width: 1250px) {
    .bar {
        min-width: 680px;
    }

    .menu {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        background: #004C93;
        transform: translateY(-200%);
        opacity: 0;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    .menu.active {
        transform: translateY(0);
        opacity: 100%;
        padding: 0;
    }

    .menu li {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 10px 200px;
        list-style-type: none;
    }

    .burger__btn {
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
    }

    .burger__btn span {
        width: 30px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFFFFF;
        transition: all 0.5s;
    }

    .burger__btn span:nth-of-type(2) {
        top: calc(50% - 10px);
    }

    .burger__btn span:nth-of-type(3) {
        top: calc(50% + 10px);
    }

    .clapboard {
        flex-wrap: wrap;
        justify-content: center;
    }

    .fact {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        height: 1000px;
    }

    .unit {
        width: 565px;
        height: 150px;
    }
}