body {
    max-width: none;
margin: 0;
}

.header {
    display: flex;
    background-color: #004C93;
    justify-content: space-between;
    height: 100px;
}
.header__section {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin: 38px 165px 0px;
        font-size: 24px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #000000;
    font-family: Inter, sans-serif;
    /*font-style: normal;*/
    font-weight: bold;
    /*    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    /*    font-weight: 700;*/
    line-height: normal;
    }
.header1 {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    font-size: 16px;
    align-self: center;
    list-style-type: none;
    width: 55%;

    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    /*margin: 200px 165px 0px;*/
    font-size: 36px;
    color: #004C93;
    font-family: Calibri;

}
/*.me{*/

/*    color: #004C93;*/
/*    font-family: Inter;*/
/*    font-size: 36px;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    line-height: normal;*/
/*}*/
.mee{
    color: #004C93;
    font-family: Inter;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}
.photo {
    padding: 50px 30px;
    min-width:565px;
    min-height:630px;
}
.calc{
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}

.position {
    display: flex;
    flex-wrap: nowrap;
    /*justify-content: center;*/
    /*padding: 0;*/
    margin: 0 auto;
    max-width: 1250px;
}
.my_d{
    background: #F3FBFF;
    padding: 50px 0;;
}

.about_me {
    display: flex;
    flex-wrap: nowrap;
    /*justify-content: center;*/
    padding: 0;
    margin: 0 auto;
    max-width: 1250px;

}
h3{
    margin-block-start: 0;
    margin-block-end: 0;
}